<p id="notice"><%= notice %></p>

<p>
  <b>Numero:</b>
  <%= @seccion.numero %>
</p>

<p>
  <b>Creditos:</b>
  <%= @seccion.creditos %>
</p>

<p>
  <b>Profesor:</b>
  <%= @seccion.profesor %>
</p>


<%= link_to 'Edit', edit_seccion_path(@seccion) %> |
<%= link_to 'Back', seccions_path %>
