<%= form_for(@carpetum) do |f| %>
  <% if @carpetum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carpetum.errors.count, "error") %> prohibited this carpetum from being saved:</h2>

      <ul>
      <% @carpetum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :codigo %><br />
    <%= f.number_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :docid %><br />
    <%= f.number_field :docid %>
  </div>
  <div class="field">
    <%= f.label :anoingreso %><br />
    <%= f.number_field :anoingreso %>
  </div>
  <div class="field">
    <%= f.label :semestre %><br />
    <%= f.number_field :semestre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
