<h1>Carpetas</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Codigo</th>
    <th>Documento de identidad</th>
    <th>Ao de ingreso</th>
    <th>Semestre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @carpeta.each do |carpetum| %>
  <tr>
    <td><%= carpetum.nombre %></td>
    <td><%= carpetum.codigo %></td>
    <td><%= carpetum.docid %></td>
    <td><%= carpetum.anoingreso %></td>
    <td><%= carpetum.semestre %></td>
    <td><%= link_to 'Mostrar', carpetum %></td>
    <td><%= link_to 'Editar', edit_carpetum_path(carpetum) %></td>
    <td><%= link_to 'Eliminar', carpetum, method: :delete, data: { confirm: 'Esta seguro que quiere eliminar esta carpeta?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Carpeta', new_carpetum_path %>
