<%= form_for(@pensum) do |f| %>
  <% if @pensum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pensum.errors.count, "error") %> prohibited this pensum from being saved:</h2>

      <ul>
      <% @pensum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ano %><br />
    <%= f.number_field :ano %>
  </div>
  <div class="field">
    <%= f.label :semestre %><br />
    <%= f.number_field :semestre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
