<h1>Listing pensums</h1>

<table>
  <tr>
    <th>Ano</th>
    <th>Semestre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pensums.each do |pensum| %>
  <tr>
    <td><%= pensum.ano %></td>
    <td><%= pensum.semestre %></td>
    <td><%= link_to 'Show', pensum %></td>
    <td><%= link_to 'Edit', edit_pensum_path(pensum) %></td>
    <td><%= link_to 'Destroy', pensum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pensum', new_pensum_path %>
