<h1>Pensums</h1>

<table>
  <tr>
    <th>Ano</th>
    <th>Semestre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pensums.each do |pensum| %>
  <tr>
    <td><%= pensum.ano %></td>
    <td><%= pensum.semestre %></td>
    <td><%= link_to 'Mostrar', pensum %></td>
    <td><%= link_to 'Editar', edit_pensum_path(pensum) %></td>
    <td><%= link_to 'Eliminar', pensum, method: :delete, data: { confirm: 'Esta seguro que desea eliminar este pensum?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Pensum', new_pensum_path %>
