<p id="notice"><%= notice %></p>

<p>
  <b>Ano:</b>
  <%= @pensum.ano %>
</p>

<p>
  <b>Semestre:</b>
  <%= @pensum.semestre %>
</p>


<%= link_to 'Edit', edit_pensum_path(@pensum) %> |
<%= link_to 'Back', pensums_path %>
