<%= form_for(@maestrium) do |f| %>
  <% if @maestrium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maestrium.errors.count, "error") %> prohibited this maestrium from being saved:</h2>

      <ul>
      <% @maestrium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %><br />
    <%= f.text_field :codigo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
