<h1>Maestrias</h1>

<table>
  <tr>
    <th>Codigo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @maestria.each do |maestrium| %>
  <tr>
    <td><%= maestrium.codigo %></td>
    <td><%= link_to 'Mostrar', maestrium %></td>
    <td><%= link_to 'Editar', edit_maestrium_path(maestrium) %></td>
    <td><%= link_to 'Eliminar', maestrium, method: :delete, data: { confirm: 'Esta seguro que quiere eliminar esta maestria?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Maestria', new_maestrium_path %>
